body {
  background-color: #ffe6eb;
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: white;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  text-align: center;
  max-width: 350px;
}

.valentine-img {
  width: 260px;
  border-radius: 15px;
  margin-bottom: 15px;
  display: none;
}

h1 {
  color: #ff4d6d;
}

h2 {
  color: #ff6f91;
}

button {
  font-size: 18px;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

#yesBtn {
  background-color: #ff4d6d;
  color: white;
}

#noBtn {
  background-color: #ccc;
  position: relative;
}

#message {
  margin-top: 20px;
  font-size: 18px;
  color: #ff4d6d;
}
